.manageractionsmainwrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.managementactionswrap{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 5%;
    height: 100%;
    width: 100%;
    align-items: center;
}
.compwrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem;
    padding: 1rem 0;
}
.compinput{
    width: 30%;
    height: 3rem;
    margin: 0.25rem 0;
    text-align: center;
    border: solid 2px;
    padding: 0;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.labelwrap{
    display: flex;
    justify-content: center;
}
.percentwrap{
    width: 2rem;
    height: 3rem;
    display: flex;
    align-self: center;
    align-items: center;
    border: solid 2px;
    border-left: none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.percentsvg{
    fill: black;
    stroke: white;
}
@media(min-width:768px) {
    .manageractionsmainwrap{
        flex-direction: row;
    }
}