.body,html{
    display: flex;
    flex-flow: column nowrap;
    background-color: #E9EDEB;
    height: 100%;
}
.mainwrap{
    background-color: #E9EDEB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 98%;
    align-self: center;
}
.welcomemsg{
    margin-bottom: 2rem;
    font-size: 1em;
    font-weight: 600;
    position: absolute;
    top: 2%;
    text-align: center;
    left: 50%;
}

.categorybtnswrap{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 95%;
   margin: 1rem 0 2.5rem;
    
}
.categorybtns{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
    max-height: 10rem;
    font-size: 1em;
    margin: .3rem;
    max-width: 22rem;
    background-color: #0B3954;
    color: white;
    margin: 0.5rem 0.5rem 0.5rem 0;
    font-weight: 500;
    border-radius: .5rem;
    padding: 0;
}
.btnh1{
    display: flex;
    margin: 0;
    font-size: 1em;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.buttonswrap{
    width: 100%;
    display: flex;
    padding-left: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}
h6{
    width: 100%;
    font-size: 1em;
    margin: 0;
    text-align: center;
}
.btnimg{
    width: 100%;
    height: 100%;
    padding-bottom: 2;
}

@media(min-width:1026px) {
    h6{
        text-align: left;
    }
    .mainwrap {
        background-color: #E9EDEB;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 98%;
        align-self: center;
    }
    .buttonswrap{
        width: 85%;
        display: flex;
        padding-left: 0;
        margin: 0;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-self: flex-start;
    }
    .categorybtns:hover{
        background-color: #136290;
        cursor: pointer;
        opacity: .9;
        font-size: 1.1em;
    }

        
}
@media(max-width:768px) {
    .categorybtnswrap{
        margin-top: 3rem;
    }
    .checkmarksvg{
        justify-content: center
    }
    .tipinput{
        width: 4rem;
    }
    
}
@media(min-width:1024px) {
    .mainwrap {
        flex-direction: row;
       
    }
    .welcomemsg{
        font-size: 1.75em;
        font-weight: 600;
    }
}