.loginbody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.incorrectpasswordwrapper{
    color: red;
    font-size: 1.2em;
}
input{
    width: 11.5rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
    font-size: 2em;
}
.loginbtn{
    width:70%;
    max-width: 11.5rem;
    align-self: center;
    height: 6vh;
    border-radius: 0.4rem;
    border-color: transparent;
    background-color: #0C0A3E;
    color: white;
    font-size: 1em;
    font-weight: 600;
    margin-top: 1rem;
}
.loginwraplabels{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 10rem;
}
svg{
    font: serif;
}
@media (min-width:1024px){
    .loginbtn:hover{
        cursor: pointer;
        opacity: .7;

    }
}